* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, black, gray);
  min-height: 100vh;
  padding: 60px;
  color: khaki;
}

input {
  color: black;
  border-radius: 15px;
  border: rgb(134, 168, 182) solid 0.3rem;
  font-size: 20px;
  padding: 3px;
  outline: none;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 50px;
  text-align: center;
}

.card img {
  max-height: 170px;
}
